<nav class="sb-topnav navbar navbar-expand" *ngIf="isBrowser">
   <div class="header-container">
      <!-- Navbar Brand-->
      <a class="navbar-brand pointer" routerLink="/">
         <img src="{{env.SITE_IMAGE_URL}}survey-logo.png" alt="Survey Logo">
      </a>
   
      <!-- Navbar-->
      <ul class="navbar-nav" *ngIf="(userService.getCurrentUser() | json) !=='{}'">
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               <i class="fas fa-user fa-fw"></i> Hi {{ userData.first_name }},
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
               <li><a class="dropdown-item" routerLink="/edit-profile" href="javascript:void(0)">Edit Profile</a></li>
               <li><a class="dropdown-item" routerLink="/change-password" href="javascript:void(0)">Change Password</a></li>
               <ng-container *ngIf="userData && userData.user_type!==env.ROLE_STANDARD">
                  <li>
                     <hr class="dropdown-divider" />
                  </li>
                  <li> 
                     <a class="dropdown-item" routerLink="/users/users-list" href="javascript:void(0)">Users</a>             
                  </li>
                  <li> 
                     <a class="dropdown-item" routerLink="/organization/organizations-list" href="javascript:void(0)">Organizations</a>             
                  </li>
               </ng-container>
               <li>
                  <hr class="dropdown-divider" />
               </li>
               <li><a class="dropdown-item" href="javascript:void(0)" appLogout>Logout</a></li>
            </ul>
         </li>
      </ul>
   </div>
</nav>
