.strong-password {
  position: relative;
}
.strong-password .strong-pass {
  position      : absolute;
  align-items   : center;
  display       : flex;
  top           : 0px;
  right         : 0px;
  font-size     : 13px;
  color         : #3188a3;
}
.strong-pass .round {
  width            : 23px;
  margin           : 0px 4px;
  border-radius    : 6px;
  height           : 8px;
  background-color : #091b1c;
}
.strong-pass .round.active {
  background-color  : #3188a3;
}
.strong-pass .pass-name {
  margin-left   : 12px;
  color         : #091b1c;;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .strong-pass .round {
      width: 15px;
  }
}

@media (max-width: 767px) {
  .strong-pass .round {
      width: 15px;
  }
}
