<!--PASSWORD STRENGTH BAR-->
<div class="strong-pass" [ngClass]="[
    msg === 'Poor' ? 'poor' :
    msg === 'Weak' ? 'weak' :
    msg === 'Average' ? 'average' :
    msg === 'Strong' ? 'strong' : ''
]">
  <span class="round active" [style.background-color]="bar0"></span>
  <span class="round" [style.background-color]="bar1"></span>
  <span class="round" [style.background-color]="bar2"></span>
  <span class="round" [style.background-color]="bar3"></span>
  <span class="pass-name">{{msg}}</span>
</div>
<!--PASSWORD STRENGTH BAR-->
