<div id="layoutSidenav">
   <!-- <div id="layoutSidenav_nav">
      <app-department-admin-sidebar></app-department-admin-sidebar>
   </div> -->
   <div id="layoutSidenav_content">
      <main>
         <div class="container-fluid px-4">
            <!-- Main Content Area -->
            <div class="main-content">
               <div class="topbar">
                  <div class="title">
                     <!-- <a href="javascript:void(0)" class="pointer" routerLink="/organization/dashboard">
                     <img class="back-arrow" src="{{env.SITE_IMAGE_URL}}left-arrow-black.svg" alt="img">
                     </a> -->
                     Change Password
                  </div>
               </div>
               <div class="form-container mt-4">
                  <form [formGroup]="changePasswordForm">
                     <div class="row g-3">
                        <div class="col-md-6">
                           <!-- Old Password -->               
                           <div class="col-md-12">
                              <div class="form-group">
                                 <label for="old_password" class="form-label">{{TextSetting.FORM.OLD_PASSWORD}}</label>
                                 <div class="password-input-wrapper">
                                    <input type="password" formControlName="old_password" ShowHidePasswordDirective id="old_password" class="form-control" placeholder="{{TextSetting.FORM.ENTER_OLD_PASSWORD}}">
                                 </div>
                                 <control-messages *ngIf="!changePasswordFormError.old_password" [name]="TextSetting.FORM.OLD_PASSWORD" [control]="changePasswordForm.controls['old_password']"></control-messages>
                                 <div *ngIf="changePasswordFormError.old_password!=''" class="error-block-form">{{ changePasswordFormError.old_password }}</div>
                              </div>
                           </div>
                           <!-- New Password -->
                           <div class="col-md-12">
                              <div class="form-group">
                                 <label for="new_password" class="form-label">{{TextSetting.FORM.NEW_PASSWORD}}</label>
                                 <div class="password-input-wrapper">
                                    <input type="password" id="new_password" ShowHidePasswordDirective formControlName="new_password" class="form-control" placeholder="{{TextSetting.FORM.ENTER_NEW_PASSWORD}}">
                                 </div>
                                 <control-messages *ngIf="!changePasswordFormError.new_password" [name]="TextSetting.FORM.NEW_PASSWORD" [control]="changePasswordForm.controls['new_password']"></control-messages>
                                 <div *ngIf="changePasswordFormError.new_password!=''" class="error-block-form">{{ changePasswordFormError.new_password }}</div>
                              </div>
                           </div>
                           <!-- Confirm Password -->
                           <div class="col-md-12">
                              <div class="form-group">
                                 <label for="confirm_password" class="form-label">{{TextSetting.FORM.CONFIRM_PASSWORD}}</label>
                                 <div class="password-input-wrapper">
                                    <input type="password" id="confirm_password" ShowHidePasswordDirective formControlName="confirm_password" class="form-control" placeholder="{{TextSetting.FORM.ENTER_CONFIRM_PASSWORD}}">
                                 </div>
                                 <control-messages *ngIf="!changePasswordFormError.confirm_password" [name]="TextSetting.FORM.CONFIRM_PASSWORD" [control]="changePasswordForm.controls['confirm_password']"></control-messages>
                                 <div *ngIf="changePasswordFormError.confirm_password!=''" class="error-block-form">{{ changePasswordFormError.confirm_password }}</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
                  <div class="form-group">
                     <button type="submit" (click)="changePassword()" class="btn btn-primary mt-2">
                     <i class="fas fa-save me-2"></i> Submit
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </main>
   </div>
</div>
<app-loading *ngIf="progress"></app-loading>