/* Full-page background */

.home-anchor {
  text-decoration: none;
  color: #fff;
}
.back-to-home {
  position: absolute;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #EEEEEE; */
    /* background: linear-gradient(135deg,rgba(1, 77, 78, 0.20) 0%, #F5F5F5 100%); */
    /*background: #13A8AB;*/
    background: #EEEEEE;
    padding:50px 50px;
    min-height: 100vh;
  }
  
  /* Login Box */
  .login-box {
    /* background: rgba(255, 255, 255, 1); */
    background: #13A8AB;
    padding: 35px 30px 30px;
    border-radius: 16px;
    width: 400px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  
  /* Logo Styling */
  .logo-wrapper {
    margin-bottom: 15px;
  }
  .isas-logo {
    width: 80px;
    height: auto;
  }
  
  /* Heading */
  .login-box h2 {
    color: #014D4E;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }

  /* Labels */
  .form-group label {
    color: #212121;
    font-weight: 500;
    text-align: left;
    display: block;
    margin-bottom: 3px;
  }
  
  /* Input Fields */
  .form-control {
    border-radius: 8px;
    height: 45px;
    font-size: 16px;
    margin-bottom: 5px;
    border: 1px solid #ffffff;
    background: #f5f5f5;
  }
  
  /* Button Styling */
  .btn-primary {
    background: #014D4E;
    border: none;
    font-size: 18px;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    transition: 0.3s;
  }
  
  .btn-primary:hover {
    background: #014D4E;
    transform: scale(1.05);
  }
  
  /* Forgot Password Link */
  .forgot-password {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  /* Button group padding */
  .login-button-group {
    padding-top: 20px;
  }
  
  /* Extra login links */
.login-extra-links {
  margin-top: 15px;
  font-size: 14px;
}

.login-link {
  color: #ffffff;
  text-decoration: none;
  margin: 0 5px;
}

.login-link:hover {
  text-decoration: underline;
}

.separator {
  color: #ffffff;
  margin: 0 5px;
}

/* Sign Up Section */
.signup-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-text {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 8px;
}

.btn-signup {
  background: #ffffff;
  color     : #014D4E;
  padding   : 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn-signup:hover {
  background: #f0f0f0;
  color: #014D4E;
}

.error-block-form {
  text-align: left !important;
}